.filter .listbox,
.filter form input,
.filter .dropdown-container .dropdown{
  width: 100%;
  box-sizing: border-box;
}
.filter .dropdown-container button{
  background-color: transparent;
  border: none;
}

.filter form input,
.filter .dropdown-container .dropdown{
  background-color: var(--white);
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 0.5em 1em;
  font-family: var(--secondary-font);
  font-size: 1em;
  text-align: left;
  position: relative;

}
.filter .dropdown-container .dropdown::after{
  content: url("../assets/img/chevron.svg");
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 15px;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  right: 10px;
  top: 6px;
}
.filter .dropdown-container .dropdown.toggle::after{
  transform: translateY(9px) rotate(180deg);
  transition: transform 0.2s ease-in-out
}
.dropdown.toggle + .overlay{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
}
.filter .listbox{
  padding: 0;
  margin: 0;
  background-color: var(--white);
  border-radius: 16px;
  border: 1px solid #ccc;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
}

.filter .listbox button{
  font-family: var(--secondary-font);
  font-size: 1em;
  transition: all 0.1s ease-in-out;
  width: 100%;
  text-align: left;
  padding: 0.5em 1em;
}

.filter .listbox li{
  list-style-type: none;
  transition: all 0.1s ease-in-out
}

.filter .listbox li:hover{
  background-color: rgba(33,81,163,0.8);
  transition: all 0.1s ease-in-out
}

.filter .listbox li:hover button{
  color: var(--white);
  transition: all 0.1s ease-in-out
}

.filter .dropdown-container .dropdown.toggle{
  border-radius: 16px 16px 0 0;
}
.filter .dropdown.toggle + .listbox{
  border-radius: 0 0 16px 16px;
  display: block;
  z-index: 9;
}
.events .card h3{
  font-size: 1.1em;
}
.date-event{
  margin: 0 0 0.5em 0;
  font-size: 0.9em;
  width: fit-content;
}
.type-event{
  margin: 0;
}
.region-event,
.ville-event{
  margin: 0;
}
.date,
.region{
  display:flex;
  justify-content: flex-start;
}
.date p,
.region p{
  margin-right: 5px;}
.card .divider > div{
  margin-right: 0.5em !important;
}
.card .divider > div:last-child{
  margin-right: 0 !important;
}


.card .divider .title *:not(svg){
  width: 100%;
  text-align: left;
}
.card .divider +*:not(.region){
  margin-right: 1em;
}


.filter h3{
  text-align: center;
}

.filter.checkbox{
  margin-top: 1em;
  position: relative;
  left: -13px;
}

.filter.checkbox input{
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.filter:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filter .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filter.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.legend-type .conference::before,
.card.conference{
  background-color: #ba628e;
}
.legend-type .grandpublic::before,
.card.grandpublic{
  background-color: #F8B061;
}
.legend-type .salonprofessionnel::before,
.card.salonprofessionnel {
  background-color: #ee7963;
}
.legend-type .festival::before,
.card.festival{
  background-color: #80c6af;
}
.legend-type .pen_present::before{
  background: url("./insigne_pen.svg") no-repeat center center;
}

.legend-type p::before{
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 0.5em;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 2px;
}
.card *{
  color: #fff !important;
  fill: #fff !important;
}

.legend-type{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1em;
}
.legend-type p{
  margin: 1em;
  text-align: center;
}
@media screen and (min-width:426px) {
  .card .divider .date {
    display: block;
  }
  .checkmark {
    top: 0px;
  }
  .filter.checkbox{
    left: 0px;
  }
  .legend-type{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 1em;
}

/*   .filters-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filter{
    width: 48%;
  }
  .filter h3{
    text-align: center;
    margin-bottom: 0.5em;
  } */
  .events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card{
    width: 100%;
  }
/*   .card{
    width: 48%;
    border-radius: 16px !important;
    margin-bottom: 1em;
  } */
}
@media screen and (min-width:768px) {
  .card .divider > div {
    margin-right: 1em !important;
}
.card .divider{
  display: flex;
  justify-content: flex-start;
}
.card .divider .title {
  display: block;
/*   width: 60%;
 */  margin: 0;
  padding: 0;
}
.card .divider .region{
  width: 20%;
  overflow: hidden;
  display: block;
}
}
@media screen and (min-width:1024px) {
/*   .filters-container{
    justify-content: flex-start;
  }
  .filter{
    width: 265px;
    margin-right: 1em;
  } */
}

@media screen and (max-width:425px){

}
