.baseImage{
    display: none;
}
.perso-container{
    margin-bottom: 2em;
}
canvas{
    cursor: pointer;
    margin: auto;
    display: block;

}
.center-canvas.paysage{
  height: calc((100vw - 2em) * 2/3);
}
#flag-personnalisation-background.paysage,
.perso-container canvas.paysage{
    width: calc(100vw - 2em);
    height: calc((100vw - 2em) * 2/3);
    border-radius: 16px;
}
.center-canvas.portrait{
  height: calc(100vw - 2em); 
}
#flag-personnalisation-background.portrait,
.perso-container canvas.portrait{
    width: calc((100vw - 2em) * 2/3);
    height: calc(100vw - 2em); 
    border-radius: 16px;
}
div[id^=font-picker]{
  width: 100% !important;
}
div[id^=font-picker] .dropdown-button {
    background-color: var(--white) !important;
    /* width: fit-content; */
    font-family: var(--secondary-font);
    font-weight: normal;
    padding: 0.5em !important;
    border-radius: 8px;

}
div[id^=font-picker]{
    box-shadow: none !important;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    margin: 0.5em 0;
}
.perso-container .canvas-container{
  width: 300px;
  margin: auto;
}
.perso-container .canvas-container fieldset{
  width: 290px;
  height: 160px;
}
.slogan-options > *{
  width: 100%;
}
.radio-spe{
  margin: auto;
}
.slogan-options textarea{
    margin-top: 8px;
    height: 90px;
    width: 100%;
    min-height: unset;
}
.subLabel{
  font-size: 0.8em;
}
label p{
    margin: 0 1em 0.5em;
}

fieldset.switch-field{
    justify-content: space-between;
    width: calc(100% - 2em);
    border: 2px solid var(--green-pen);
    border-radius: 16px;
    padding: 1em;
    margin: auto;
}
.number-title{
  text-align: center;
  margin-top: 2em !important;
  font-size: 1.3em;
  font-family: var(--primary-font);
}
.center-canvas {
  position:relative;
}

#flag-personnalisation,
#flag-personnalisation-background{
  position: absolute;
  top: 0;
  left:50%;
  transform: translateX(-50%);
}
p.center{
  text-align: center;
}
.switch-field {
    overflow: hidden;
  }
  
  .switch-title {
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }
  
  .switch-field label {
    display: inline-block;
    width: fit-content;
    background-color: var(--white);
    color: var(--dark-grey);
    text-align: center;
    text-shadow: none;
    padding: 0.5em 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
    font-size: 0.8em;
    width: 100%;
    border-radius: 16px;
  }
  .spe-accueil{
    margin-top: 2em;
  }
  .spe-accueil > *{
    margin: 0 0.5em;
  }
  .upload-file.switch-field label {
    border: none;
    box-shadow: unset;
    background-color: transparent;
  }
  .switch-field .portrait label::before{
    content: "";
    display:block;
    height:60px;
    width:60px;
    background-size: 60px 60px;
    background-image: url(/src/assets/img/portrait.svg);
    background-repeat: no-repeat;
    margin:0.5em auto;
  }
  .switch-field .paysage label::before{
    content: "";
    display:block;
    height:60px;
    width:60px;
    background-size: 60px 60px;
    background-image: url(/src/assets/img/paysage.svg);
    background-repeat: no-repeat;
    margin:0.5em auto;
  }
  .switch-field .slogan label::before{
    content: "";
    display:block;
    height:50px;
    width:80px;
    background-size: 80px 50px;
    background-repeat: no-repeat;
    margin:0.5em auto;
  }
  
  .switch-field .slogan label.fr::before{
    background-image: url(/src/assets/img/slogan-fr-b.svg);
  }
  .switch-field .slogan label.en::before{
    background-image: url(/src/assets/img/slogan-en-b.svg);
  }
  .switch-field .slogan label.es::before{
    background-image: url(/src/assets/img/slogan-es-b.svg);
  }
  .switch-field .logoIncrustation label::before{
    content: "";
    display:block;
    height:50px;
    width:50px;
    background-size: 50px 50px;
    background-image: url(/src/assets/img/image.svg);
    background-repeat: no-repeat;
    margin:0.5em auto;
  }
  .switch-field .portrait input:checked + label::before{
    background-image: url(/src/assets/img/portrait-w.svg)
  }
  .switch-field .paysage input:checked + label::before{
    background-image: url(/src/assets/img/paysage-w.svg)
  }
  .switch-field .slogan input:checked + label.fr::before{
    background-image: url(/src/assets/img/slogan-fr-w.svg)
  }
  .switch-field .slogan input:checked + label.en::before{
    background-image: url(/src/assets/img/slogan-en-w.svg)
  }
  .switch-field .slogan input:checked + label.es::before{
    background-image: url(/src/assets/img/slogan-es-w.svg)
  }
  .switch-field .logoIncrustation input:checked + label::before{
    background-image: url(/src/assets/img/image-w.svg)
  }
  .switch-field label:hover {
    cursor: pointer;
  }
  
  .switch-field input:checked + label {
    background-color: var(--blue-pen);
    color: var(--white);
    box-shadow: none;
  }
  .zoom-control div{
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  .zoom-control div > *{
    margin: 0.5em;
  }
/*   .switch-field .switch:first-of-type label {
    border-radius: 16px 0 0 16px;
  }

  .switch-field .switch:last-of-type label {
    border-radius: 0 16px 16px 0;
  } */
  fieldset .switch{
    width: 48%;
  }
  .zoom-control button{
    border-radius: 16px;
  }
/*   .zoom-control input{
    display: none;
  }
 */
  .zoom-control legend{
    margin-top: 0.5em;
  }
  .zoom-control button{
    background-color: var(--white);
    font-size: 1em;
    border: 1px solid var(--dark-grey);
    /* padding-top: 4px; */
    width: 2em;
    height: 2em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;

  }
  .zoom-control button.increment{
    padding-top: 2px;
  }

  .zoom-control button:hover:enabled{
    background-color: var(--blue-pen);
    color: var(--white);
    transition: all 0.3s ease-in-out;

  }
  
  .zoom-control button:disabled {
    border: 1px solid var(--light-grey);
  }

  .zoom-control button.decrement{
    padding-top: 0;
  }

  .perso-container input[type="checkbox"]{
    width: 20px;
  }

  .perso-container legend{
    font-size: 1.3em;
    text-align: center;
  }
  .slogan-controls fieldset input{
    width: 100%;
  }
  .perso-container .col-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .perso-container .col-2 > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  fieldset label.consent-label{
    margin: 0;
  }
  fieldset.user-consent{
    width: 100%;
  }
  fieldset.user-consent {
    margin-top: 0;
    justify-content: flex-start;
  }
  fieldset.user-consent input,
  fieldset.user-consent input::after{
    width: 20px !important;
    display: block !important;
}
  
@media  screen and (min-width:426px) {
  .slogan-controls {
    display: flex;
    justify-content: space-between;
  }
  .slogan-controls > fieldset{
    width: 33%;
  }
  .slogan-controls > div fieldset{
    width: 50%;
    padding: 0 0.5em;
  }
  .perso-container .col-2{
    width: 100%;
  }
  .slogan-controls .col-2{
    width: 66%;
  }
  .perso-container .slogan-controls legend{
    text-align: left;
  }
}
@media  screen and (min-width:768px) {
  .radio-spe fieldset.switch-field:not(.upload-file):not(.slogan){
    width: 100%;
    border: unset;
  }
  fieldset.switch-field{
    border: 2px solid var(--green-pen);
    border-radius: 16px;
    padding: 1em;
    margin: 1em auto 0;
}
/*   fieldset.switch-field.upload-file{
    width: 40%;
} */
  fieldset.switch-field:not(.upload-file):not(.slogan){
    width: 49%;
    margin: 0 0.5em;
}
  .slogan-controls {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
  }
  .center-canvas.paysage{
    height: calc(60vw * 2/3);
  }
  #flag-personnalisation-background.paysage,
  .perso-container canvas.paysage{
      width: 60vw;
      height: calc(60vw * 2/3);
      max-width: 1024px;
      max-height: calc(1024px *2/3);
  }
  .center-canvas.portrait{
    height: 60vh;   
  }
  #flag-personnalisation-background.portrait,
  .perso-container canvas.portrait{
      width: calc(60vh * 2/3);
      height: 60vh; 
      max-width: 800px;
      max-height: 1200px;
  }
  .canvas-container{
    display: flex;
  }
  .canvas-container > * {
    margin: auto;
  }
/*   .slogan-options{
    margin-right: 1em;

  } */
  .slogan-options > *{
    width: 100%;
  }
  .perso-container .col-2 > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .slogan-options textarea{
      margin-top: 8px;
      height: 90px;
      width: 100%;
  }


}

@media screen and (min-width:927px) {

/* .slogan-controls {
  bottom: -20px;
} */
}

@media screen and (max-width:768px) {
  .slogan-options textarea{
    width: 100%;
    max-width: unset;
  }
}