.baseImage{
    display: none;
}
.perso-container{
    margin-bottom: 2em;
}
.perso-container canvas.paysage{
    width: calc(100vw - 2em);
    height: calc((100vw - 2em) * 2/3);
    border-radius: 16px;
}
.perso-container canvas.portrait{
    width: calc((100vw - 2em) * 2/3);
    height: calc(100vw - 2em); 
    border-radius: 16px;
}
div[id^=font-picker] .dropdown-button {
    background-color: var(--white) !important;
    width: fit-content;
    font-family: var(--secondary-font);
    font-weight: normal;
    padding: 0.5em !important;
    border-radius: 8px;

}
div[id^=font-picker]{
    box-shadow: none !important;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    margin: 0.5em 0;
}
@media  screen and (min-width:768px) {
    .perso-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .perso-container form {
        width: 48%;
    }
    .perso-container canvas.paysage{
        width: 48%;
        height: calc(48% * 2/3);
        max-width: 600px;
        max-height: 400px;
    }
    .perso-container canvas.portrait{
        width: calc(48% * 2/3);
        height: 48%; 
        max-width: 400px;
        max-height: 600px;
    }
}