.vignette-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.vignette a{
    text-decoration: none;
    color: var(--dark-grey);
}
.vignette{
    width: 100%;
    background-color: var(--white);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    margin-bottom: 1.5em;
}
.vignette *{
    display: flex;
    flex-direction: column;
    order: 1;
}
.vignette .textes{
    padding: 1em;
}
.vignette img{
    order: 0;
    height: 200px;
    object-fit: cover;
}
.vignette.img-picto img{
    object-fit: contain;
    margin: 2em auto 0;
    height: 140px;
}
.vignette.img-picto h3{
    color: var(--dark-grey);
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
}
.vignette.img-picto p{
    text-align: center;
}
.vignette h3{
    font-family: var(--primary-font);
    font-family: 2.5em;
    color: var(--green-pen);
    margin-bottom: 0;
    text-transform: uppercase;
}
.vignette .domaine{
    position: absolute;
    background-color: var(--blue-pen);
    color: var(--white);
    padding: 0.5em 1em;
    border-radius: 0 16px 16px 0;
    top: 185px;
    margin: 0;
    text-transform: capitalize;
}

@media screen and (min-width:425px) {
    .vignette{
        width: 48%;
    }
    
}

@media screen and (min-width:900px) {
    .vignette{
        width: 31%;
    }
    
}