footer{
    background-color: var(--white);
    padding: 1em;
    padding-top: 2em;
    margin-top: 3em;
    border-top: 4px solid var(--blue-pen);
}

footer .footer-logo-link,
footer nav{
    margin: 0.5em auto 1em;
    width: fit-content;
    display: block;
}

footer .logo{
    height: 50px;
    display: block;
}
footer .nav-links a {
    color: var(--blue-pen);
}
footer .nav-links a:hover {
    color: var(--peche-pen);
}
footer ul{
    flex-wrap: wrap;
}
.contact_infos{
    margin: 0 auto 1em;
}
.contact_infos *{
    font-size: 1em;
    font-family: var(--secondary-font);
    font-style: normal;
    text-align: center;
    margin: 0.5em;
    color: var(--white);
}

footer .social{
    display: flex;
    justify-content: center;
}

footer .social img{
    width: 30px;
    margin: 0 0.5em;
    border-radius: 100%;
    overflow: hidden;
    transition: 0.2s ease-in-out background-color;
}

footer .social img:hover{
    background-color: var(--peche-pen); 
    transition: 0.2s ease-in-out background-color;
}