footer{
    background-color: var(--white);
    padding: 1em;
    margin-top: 3em;
}

footer .footer-logo-link,
footer nav{
    margin: 0.5em auto 1em;
    width: fit-content;
    display: block;
}

footer .logo{
    height: 50px;
    display: block;
}

footer ul{
    flex-wrap: wrap;
}
.contact_infos{
    margin: 0 auto 1em;
}
.contact_infos *{
    font-size: 1em;
    font-family: var(--secondary-font);
    font-style: normal;
    text-align: center;
    margin: 0.5em;
}
