.filter .listbox,
.filter form input,
.filter .dropdown-container .dropdown{
  width: 100%;
  box-sizing: border-box;
}

.filter .dropdown-container button{
  background-color: transparent;
  border: none;
}
.dropdown-container{
  position: relative;
}
.filter,
.dropdown-container,
.dropdown{
  width: 100%;
}
.filter form input,
.filter .dropdown-container .dropdown{
  background-color: var(--white);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5em 1em;
  font-family: var(--secondary-font);
  font-size: 1em;
  text-align: left;
  position: relative;

}
.filter .dropdown-container .dropdown::after{
  content: url("../assets/img/chevron-black.svg");
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 15px;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  right: 10px;
  top: 6px;
}
.filter .dropdown-container .dropdown.toggle::after{
  transform: translateY(9px) rotate(180deg);
  transition: transform 0.2s ease-in-out
}
.dropdown.toggle + .overlay{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
}
.filter .listbox{
  padding: 0;
  margin: 0;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid #ccc;
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
}

.filter .listbox button{
  font-family: var(--secondary-font);
  font-size: 1em;
  transition: all 0.1s ease-in-out;
  width: 100%;
  text-align: left;
  padding: 0.5em 1em;
}

.filter .listbox li{
  list-style-type: none;
  transition: all 0.1s ease-in-out
}

.filter .listbox li:hover{
  background-color: rgba(33,81,163,0.8);
  transition: all 0.1s ease-in-out
}

.filter .listbox li:hover button{
  color: var(--white);
  transition: all 0.1s ease-in-out
}

.filter .dropdown-container .dropdown.toggle{
  border-radius: 8px 8px 0 0;
}
.filter .dropdown.toggle + .listbox{
  border-radius: 0 0 8px 8px;
  display: block;
  z-index: 9;
}
.filter .listbox.toggle{
  top: 100%;
}