@font-face {
  font-family: 'bowlby';
  src: url('./assets/fonts/bowlbyonesc-regular-web.woff2') format('woff2'),
       url('./assets/fonts/bowlbyonesc-regular-web.woff') format('woff'),
       url('./assets/fonts/bowlbyonesc-regular-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-heavy';
  src: url('./assets/fonts/Gilroy-Heavy.woff2') format('woff2'),
       url('./assets/fonts/Gilroy-Heavy.woff') format('woff'),
       url('./assets/fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('./assets/fonts/Gilroy-Regular.woff2') format('woff2'),
       url('./assets/fonts/Gilroy-Regular.woff') format('woff'),
       url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('./assets/fonts/Gilroy-SemiBold.woff2') format('woff2'),
       url('./assets/fonts/Gilroy-SemiBold.woff') format('woff'),
       url('./assets/fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background-grey: #ffffff;
  --background-white: #ffffff;
  --blue-pen: #2E519D;
  --green-pen: #349837;
  --dark-grey: #1a1a1a;
  --medium-grey: #828282;
  --light-grey: #d6d6d6;
  --white: #ffffff;
  --primary-font: "gilroy-heavy", arial, sans-serif;
  --primary-font-alternate: "bowlby", arial, sans-serif;
  --secondary-font:"gilroy", arial, sans-serif;
  --rich-text-color:"#000";
  --peche-pen: #fcc966;
}
html{
  overflow-x: hidden;
  width: 100vw;
}
body{
  background-color: var(--background-white);
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  color: var(--dark-grey);
  width: 100vw;
  overflow-x: hidden;
}

.primary-button{
  font-family: var(--secondary-font);
  background-color: var(--green-pen);
  color: var(--white);
  border-radius: 16px;
  text-transform: uppercase;
  border: 2px solid var(--green-pen);
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em 0;
  transition: all 0.3s  ease-in-out ;
  text-decoration: none;
  display: inline-block;
  max-width: 80%;
}

.primary-button:hover{
  border: 2px solid var(--green-pen);
  background-color: transparent;
  transition: all 0.3s  ease-in-out ;
  color: var(--green-pen);
}

.secondary-button{
  font-family: var(--secondary-font);
  background-color: var(--white);
  color: var(--dark-grey);
  border-radius: 16px;
  text-transform: uppercase;
  border: 2px solid var(--green-pen);
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em 0;
  transition: all 0.3s  ease-in-out ;
}

.secondary-button:hover{
  border: 2px solid var(--blue-pen);
  background-color: var(--blue-pen);
  color: var(--white);
  transition: all 0.3s  ease-in-out ;
}

.bandeau-vertical{
  display: block;
  position: fixed;
  left: 0;
  top: 90%;
  transform: rotate(-90deg);
  font-family: var(--primary-font);
  width: 100vh;
  transform-origin: top left;
  font-size: 2em;
  background-color: #fff;
  z-index: 0;
}
.bandeau-vertical .blue{
  color: var(--blue-pen);
}
.bandeau-vertical .green{
  color: var(--green-pen);
}

h4, h5, h6{
  font-family: var(--primary-font);
  font-size: 1.2em;
}
h4{
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--peche-pen);
}
p, li{
  font-size: 1.2em;
}
.rich-text-block li span,
.rich-text-block p span{
  /* color: inherit !important; */
  font-family: var(--secondary-font) !important;
  font-size: 1em !important;
}
.rich-text-block figure{
  margin-left: 0;
  margin-right: 0;
}
.rich-text-block blockquote{
  font-style: italic;
}
.spe-bandeau-accueil{
  margin-bottom: 0;
}
.spe-bandeau-accueil h2{
  margin-bottom: 0 !important;
}
@media screen and (max-width:768px){
  .bandeau-vertical{
    display: none;
  }
}