@font-face {
  font-family: 'bowlby';
  src: url('./assets/fonts/bowlbyonesc-regular-web.woff2') format('woff2'),
       url('./assets/fonts/bowlbyonesc-regular-web.woff') format('woff'),
       url('./assets/fonts/bowlbyonesc-regular-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-bold';
  src: url('./assets/fonts/gilroy-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/gilroy-bold-webfont.woff') format('woff'),
       url('./assets/fonts/gilroy-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('./assets/fonts/gilroy-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/gilroy-regular-webfont.woff') format('woff'),
       url('./assets/fonts/gilroy-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-grey: #F8F8F8;
  --blue-pen: #2151A3;
  --green-pen: #009C1A;
  --dark-grey: #1a1a1a;
  --medium-grey: #828282;
  --light-grey: #d6d6d6;
  --white: #ffffff;
  --primary-font: "bowlby", arial, sans-serif;
  --secondary-font:"gilroy", arial, sans-serif;
}
html{
  overflow-x: hidden;
  width: 100vw;
}
body{
  background-color: var(--background-grey);
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
  color: var(--dark-grey);
  width: 100vw;
  overflow-x: hidden;
}

.primary-button{
  font-family: var(--secondary-font);
  background-color: var(--green-pen);
  color: var(--white);
  border-radius: 16px;
  text-transform: uppercase;
  border: 2px solid var(--green-pen);
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em 0;
  transition: all 0.3s  ease-in-out ;
}

.primary-button:hover{
  border: 2px solid var(--blue-pen);
  background-color: var(--blue-pen);
  transition: all 0.3s  ease-in-out ;
}

.secondary-button{
  font-family: var(--secondary-font);
  background-color: var(--white);
  color: var(--dark-grey);
  border-radius: 16px;
  text-transform: uppercase;
  border: 2px solid var(--green-pen);
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em 0;
  transition: all 0.3s  ease-in-out ;
}

.secondary-button:hover{
  border: 2px solid var(--blue-pen);
  background-color: var(--blue-pen);
  color: var(--white);
  transition: all 0.3s  ease-in-out ;
}

.bandeau-vertical{
  display: block;
  position: fixed;
  left: 0;
  top: 90%;
  transform: rotate(-90deg);
  font-family: var(--primary-font);
  width: 100vh;
  transform-origin: top left;
  font-size: 2em;
  background-color: #fff;
  z-index: 0;
}
.bandeau-vertical .blue{
  color: var(--blue-pen);
}
.bandeau-vertical .green{
  color: var(--green-pen);
}

@media screen and (max-width:768px){
  .bandeau-vertical{
    display: none;
  }
}